<launch>
  
  <include file="$(find rm_description)/launch/sentry.launch">
    <arg name="load_chassis" value="true"/>
    <arg name="roller_type" value="realistic"/>
    <arg name="paused" value="true"/>
  </include>

  <!-- 加载yaml参数文件 -->
  <rosparam file="$(find sentry_chassis_controller)/config/sentry_chassis_controller_params.yaml" command="load" />
  <!-- 启动底盘控制器节点 -->
</launch>
